$secondaryBackground: $white;
$subSecondaryBackground: $transparentLight;
$background: $light;
$subBackground: $lightBlack;
$active: $green;
$passive: $greyLighter;
$invalid: $lightRed;
$error: $red;
$important: $pink;
$baseColor: $black;
$contrastColor: $white;
$secondaryColor: $greyDark;
$resetColor: $grey;
$labels: $greyLight;
