body {
  font-family: 'Gotham Pro', serif;
  font-size: 14px;
  line-height: 16px; }

.button {
  font-size: 1.15em;
  line-height: 8px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  white-space: nowrap; }
  .button_delete {
    align-self: center;
    background: url("../img/article/close.svg") no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin: 25px auto; }

.header {
  display: flex;
  background: url(../img/header/01.png) center no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 1.1em;
  /* .header__container */
  /* .header__logo */
  /* .header__subtitle */
  /* .header__buttons */ }
  .header__container {
    margin: 50px auto 30px;
    padding: 0 15px;
    flex: 0 0 71.25%; }
  .header__logo {
    padding: 0 5px; }
  .header__subtitle {
    width: 670px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.25;
    align-self: flex-end;
    letter-spacing: 0; }
  .header__buttons {
    padding: 0 20px;
    margin: 36px 0 0; }

.main {
  display: flex;
  background-color: #f6f6f6; }
  .main__container {
    flex: 0 0 71.25%;
    margin: 5px auto; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* .container__daily */ }
  .container__daily {
    padding: 15px 15px 0; }

.buttons {
  display: flex;
  flex-wrap: nowrap;
  /* .buttons__button */
  /* .buttons__button_submit */
  /* .buttons__button_refresh */ }
  .buttons__button {
    margin-right: 30px;
    padding: 17px 32px;
    width: 165px;
    height: 52px;
    border: 3px solid #a9d85f; }
    .buttons__button_modal {
      width: 100px;
      height: 38px;
      font-size: 13px;
      color: #a3a3a3;
      padding: 12px;
      text-align: center;
      margin-left: -10px; }
    .buttons__button:first-child {
      margin-left: 0; }
    .buttons__button:last-child {
      margin-right: 0; }
  .buttons__button_submit {
    background-color: #a9d85f;
    color: #ffffff; }
  .buttons__button_refresh {
    background-color: transparent; }

.daily {
  display: flex;
  flex-direction: column;
  /* .daily__date */
  /* .daily__articles */
  /* .daily__article */ }
  .daily__date {
    font-family: 'Intro Bold Alt', serif;
    font-size: 27px; }
  .daily__articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -10px; }
  .daily__article {
    margin-bottom: 12px; }

.article {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  letter-spacing: 0;
  border-left: 3px solid #a9d85f;
  /* .article__info */
  /* .article__time */
  /* .article__location */
  /* .article__title */
  /* .article__content */
  /* .article__button */ }
  .article__wrap {
    padding: 20px 40px;
    flex: 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .article__wrapper {
    padding: 20px 0 30px;
    flex: 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .article__time {
    padding: 15px 0; }
  .article__location {
    padding: 15px 0;
    max-width: 230px;
    color: #5b5b5b; }
  .article__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }
  .article__content {
    color: #a3a3a3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  .article__button {
    flex: 0 10%;
    display: flex;
    flex-direction: column; }

.daily:first-child .article:first-child {
  border-color: #ff7eb5; }

.time {
  font-size: 2.15em;
  font-weight: 500;
  font-style: normal; }

.location {
  line-height: 1.25em;
  /* .location__button */
  /* .location__icon */ }

.title {
  font-size: 1.25em;
  font-weight: 500;
  font-style: normal; }

.content {
  line-height: 1.25em; }

.footer {
  background: url("../img/footer/background.png") center;
  background-size: cover;
  height: 75px;
  width: 100%; }

.wrapper__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex; }
.wrapper_active {
  display: flex; }

.modal {
  display: flex;
  margin: auto;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  width: 615px;
  /* .modal__container */
  /* .modal__button */
  /* .modal__content */
  /* .modal__form */ }
  .modal__container {
    display: flex;
    flex-direction: column;
    flex: 100%;
    padding: 0 15px 20px; }
  .modal__button {
    display: flex;
    align-self: flex-end;
    margin-right: 15px; }
  .modal__content {
    padding: 0 5px 15px;
    display: flex; }
  .modal__form {
    flex: 1;
    display: flex;
    flex-direction: column; }

.form {
  /* .form__input */
  /* .input__location */ }
  .form__input {
    padding: 10px 10px; }
  .form__input_title {
    flex: 100%; }
  .form__input_location {
    flex: 65%; }
  .form__input_time {
    flex: 35%; }
  .form__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between; }
  .form__checkbox_label {
    margin-left: 10px;
    color: #5b5b5b; }

.input {
  display: flex;
  flex-direction: column; }
  .input__field {
    border: none;
    border-bottom: 1px solid #a3a3a3;
    padding: 5px 0;
    margin: 0 0 10px; }
    .input__field:focus {
      border-bottom: 2px solid #a9d85f;
      outline: none; }
  .input__wrapper_location {
    display: flex;
    justify-content: space-between;
    position: relative; }
  .input__location {
    padding: 9px 0; }
  .input__content {
    margin-top: 35px;
    padding: 15px;
    border: 1px solid #a3a3a3; }
    .input__content_active {
      border: 2px solid #a9d85f; }
  .input__popup {
    display: none;
    position: absolute;
    bottom: -506%;
    right: -453%; }
    .input__popup_active {
      display: flex; }
  .input__find-location {
    display: flex;
    height: 20px;
    width: 20px;
    border: none;
    background: url(../img/modal/location.svg);
    background-size: contain; }
  .input__label {
    color: #a3a3a3; }

/*# sourceMappingURL=style.css.map */
