// White, gray and black
$white: #fff;
$grayLighter: #f2f3f5;
$grayBitLighter: #ededed;
$grayLight: #bbb;
$dark: #4e5f68;
$deepDark: #333;
$black: #000;

// Red
$red: #f50000;

// Blue
$blueBitLighter: #1890ff;
$blue: #3d74e7;
$blueBitDarken: #005ff9;
