// White, gray and black
$white: #fff;
$light: #f6f6f6;
$greyLight: #a3a3a3;
$greyLighter: #bba7a7;
$grey: #717171;
$greyDark: #5b5b5b;
$black: #000;
$lightBlack: rgba(0, 0, 0, 0.65);

// Red
$red: #f50000;
$lightRed: rgba(248, 69, 91, 0.31);

// Green
$green: #a9d85f;

// Red
$pink: #d8378e;
