body {
  font-family: 'Gotham Pro', serif;
  font-size: 14px;
  line-height: 16px;
}
.button {
  font-size: 1.15em;
  line-height: 8px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  white-space: nowrap;
  &_delete {
    align-self: center;
    background: url("../img/article/close.svg") no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin: 25px auto;
  }
}
.header {
  display: flex;
  background: url(../img/header/01.png) center no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 1.1em;
  /* .header__container */
  &__container {
    margin: 50px auto 30px;
    padding: 0 15px;
    flex: 0 0 71.25%;
  }

  /* .header__logo */
  &__logo {
    padding: 0 5px;
  }
  /* .header__subtitle */
  &__subtitle {
    width: 670px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.25;
    align-self: flex-end;
    letter-spacing: 0;
  }
  /* .header__buttons */
  &__buttons {
    padding: 0 20px;
    margin: 36px 0 0;
  }
}
.main {
  display: flex;
  background-color: #f6f6f6;
  &__container{
    flex: 0 0 71.25%;
    margin: 5px auto;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* .container__daily */
  &__daily {
    padding: 15px 15px 0;

  }
}
.buttons {
  display: flex;
  flex-wrap: nowrap;

  /* .buttons__button */
  &__button {
    margin-right: 30px;
    padding: 17px 32px;
    width: 165px;
    height: 52px;
    border: 3px solid #a9d85f;
    &_modal {
      width: 100px;
      height: 38px;
      font-size: 13px;
      color: #a3a3a3;
      padding: 12px;
      text-align: center;
      margin-left: -10px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  /* .buttons__button_submit */
  &__button_submit {
    background-color: #a9d85f;
    color: #ffffff;
  }
    /* .buttons__button_refresh */
  &__button_refresh {
    background-color: transparent;
  }
}
.daily {
  display: flex;
  flex-direction: column;
  /* .daily__date */
  &__date {
    font-family: 'Intro Bold Alt', serif;
    font-size: 27px;
  }
  /* .daily__articles */
  &__articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -10px;
  }
  /* .daily__article */
  &__article {
    margin-bottom: 12px;
  }
}
.article {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  letter-spacing: 0;
  border-left: 3px solid #a9d85f;
  /* .article__info */
  &__wrap {
    padding: 20px 40px;
    flex: 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__wrapper {
    padding: 20px 0 30px;
    flex: 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* .article__time */
  &__time {
    padding: 15px 0;
  }
  /* .article__location */
  &__location {
    padding: 15px 0;
    max-width: 230px;
    color: #5b5b5b;
  }
  /* .article__title */
  &__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  /* .article__content */
  &__content {
    color: #a3a3a3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  /* .article__button */
  &__button {
    flex: 0 10%;
    display: flex;
    flex-direction: column;
  }
}
.daily:first-child .article:first-child {
  border-color: #ff7eb5;
}
.time {
  font-size: 2.15em;
  font-weight: 500;
  font-style: normal;
}
.location {
  line-height: 1.25em;

  /* .location__button */
  &__button {
  }
  /* .location__icon */
  &__icon {
  }
}
.title {
  font-size: 1.25em;
  font-weight: 500;
  font-style: normal;
}
.content {
  line-height: 1.25em;
}
.footer {
  background: url("../img/footer/background.png") center;
  background-size: cover;
  height: 75px;
  width: 100%;
}
.wrapper {
  //display: none;
  &__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
  }
  &_active {
    display: flex;
  }
}
.modal {
  display: flex;
  margin: auto;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  width: 615px;

  /* .modal__container */
  &__container {
    display: flex;
    flex-direction: column;
    flex: 100%;
    padding: 0 15px 20px;
  }
  /* .modal__button */
  &__button {
    display: flex;
    align-self: flex-end;
    margin-right: 15px;
  }
  /* .modal__content */
  &__content {
    padding: 0 5px 15px;
    display: flex;
  }
  /* .modal__form */
  &__form {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
.form {
  /* .form__input */
  &__input {
    padding: 10px 10px;
  }
  /* .input__location */
  &__input_title {
    flex: 100%;
  }
  &__input_location {
    flex: 65%;
  }
  &__input_time {
    flex: 35%;
  }
  &__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  &__input_content {
  }
  &__checkbox {
    &_label {
      margin-left: 10px;
      color: #5b5b5b;
    }
  }
  &__buttons {
  }
}
.input {
  display: flex;
  flex-direction: column;
  &__field {
    border: none;
    border-bottom: 1px solid #a3a3a3;
    padding: 5px 0;
    margin: 0 0 10px;
    &:focus {
      border-bottom: 2px solid #a9d85f;
      outline: none;
    }
  }
  &__title {
  }
  &__wrapper_location {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__location {
    padding: 9px 0;
  }
  &__time {
  }
  &__content {
    margin-top: 35px;
    padding: 15px;
    border: 1px solid #a3a3a3;
    &_active {
      border: 2px solid #a9d85f;
    }
  }
  &__popup {
    display: none;
    position: absolute;
    bottom: -506%;
    right: -453%;
      &_active {
        display: flex;
      }
  }
  &__find-location{
    display: flex;
    height: 20px;
    width: 20px;
    border: none;
    background: url(../img/modal/location.svg);
    background-size: contain;
  }
  &__label {
    color: #a3a3a3;
  }
}

