//197, 347 & *
.date-picker {
  display: flex;
  flex-direction: column;
  padding: 0 7px;
  margin: 20px 0;
  flex: 1 1;

  &__label {
    color: #a3a3a3;
  }

  &_invalid {
    background: rgba(253, 27, 58, 0.2);
  }
}
