{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "exclude": [
          "transform-async-to-generator",
          "transform-regenerator"
        ]
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-optional-chaining"]
}
