{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "at-rule-no-unknown": [
      true, {
        "ignoreAtRules": ["if", "else", "extend", "mixin", "include", "content", "for", "function", "return"]
      }
    ],
    "font-family-no-missing-generic-family-keyword": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "scss/dollar-variable-pattern": 0,
    "media-feature-range-notation": "prefix",
    "color-function-notation": "legacy",
    "alpha-value-notation": "number"
  }
}
