{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-class-pattern": null,
    "color-function-alias-notation": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
