@keyframes modal-roll {
  0% {
    transform: translate(-100%) rotate(45deg);
 }

  95% {
    transform: translate(10%);
 }

  100% {
    transform: translate(0);
 }
}

.modal {
  position: fixed;
  inset: 0;
  transition: none;
  background-color: var(--sub-background);
  display: none;
}

.modal_active {
  display: flex;
}

.modal__container {
  flex: 0.8 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  background: var(--secondary-background);
  border-radius: 5px;
  border: none;
  padding: 5px;
  animation: modal-roll 0.55s cubic-bezier(0.16, 1, 0.3, 1);
  opacity: 1;
}

.modal__close {
  align-self: flex-end;
  margin-right: 10px;
}

.modal__form {
  flex: 1 1;
  display: flex;
}

@media all and (width >= 768px) {
  .modal__container {
    flex: 0.6 1;
    padding: 15px;
 }
}

@media all and (width >= 1024px) {
  .modal__container {
    flex: 0.2 1 340px;
 }
}
