#fountainG{
  position:relative;
  width:360px;
  height:44px;
  margin:auto;
}

.fountainG{
  position:absolute;
  top:0;
  background-color:rgb(216,55,141);
  width:44px;
  height:44px;
  animation-name:bounce_fountainG;
  -o-animation-name:bounce_fountainG;
  -ms-animation-name:bounce_fountainG;
  -webkit-animation-name:bounce_fountainG;
  -moz-animation-name:bounce_fountainG;
  animation-duration:1.69s;
  -o-animation-duration:1.69s;
  -ms-animation-duration:1.69s;
  -webkit-animation-duration:1.69s;
  -moz-animation-duration:1.69s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  transform:scale(.3);
  -o-transform:scale(.3);
  -ms-transform:scale(.3);
  -webkit-transform:scale(.3);
  -moz-transform:scale(.3);
  border-radius:29px;
  -o-border-radius:29px;
  -ms-border-radius:29px;
  -webkit-border-radius:29px;
  -moz-border-radius:29px;
}

#fountainG_1{
  left:0;
  animation-delay:0.68s;
  -o-animation-delay:0.68s;
  -ms-animation-delay:0.68s;
  -webkit-animation-delay:0.68s;
  -moz-animation-delay:0.68s;
}

#fountainG_2{
  left:45px;
  animation-delay:0.85s;
  -o-animation-delay:0.85s;
  -ms-animation-delay:0.85s;
  -webkit-animation-delay:0.85s;
  -moz-animation-delay:0.85s;
}

#fountainG_3{
  left:90px;
  animation-delay:1.01s;
  -o-animation-delay:1.01s;
  -ms-animation-delay:1.01s;
  -webkit-animation-delay:1.01s;
  -moz-animation-delay:1.01s;
}

#fountainG_4{
  left:135px;
  animation-delay:1.18s;
  -o-animation-delay:1.18s;
  -ms-animation-delay:1.18s;
  -webkit-animation-delay:1.18s;
  -moz-animation-delay:1.18s;
}

#fountainG_5{
  left:180px;
  animation-delay:1.35s;
  -o-animation-delay:1.35s;
  -ms-animation-delay:1.35s;
  -webkit-animation-delay:1.35s;
  -moz-animation-delay:1.35s;
}

#fountainG_6{
  left:225px;
  animation-delay:1.52s;
  -o-animation-delay:1.52s;
  -ms-animation-delay:1.52s;
  -webkit-animation-delay:1.52s;
  -moz-animation-delay:1.52s;
}

#fountainG_7{
  left:270px;
  animation-delay:1.69s;
  -o-animation-delay:1.69s;
  -ms-animation-delay:1.69s;
  -webkit-animation-delay:1.69s;
  -moz-animation-delay:1.69s;
}

#fountainG_8{
  left:315px;
  animation-delay:1.86s;
  -o-animation-delay:1.86s;
  -ms-animation-delay:1.86s;
  -webkit-animation-delay:1.86s;
  -moz-animation-delay:1.86s;
}



@keyframes bounce_fountainG{
  0%{
    transform:scale(1);
    background-color:rgb(170,216,95);
  }

  100%{
    transform:scale(.3);
    background-color:rgb(230,62,230);
  }
}

@-o-keyframes bounce_fountainG{
  0%{
    -o-transform:scale(1);
    background-color:rgb(170,216,95);
  }

  100%{
    -o-transform:scale(.3);
    background-color:rgb(230,62,230);
  }
}

@-ms-keyframes bounce_fountainG{
  0%{
    -ms-transform:scale(1);
    background-color:rgb(170,216,95);
  }

  100%{
    -ms-transform:scale(.3);
    background-color:rgb(230,62,230);
  }
}

@-webkit-keyframes bounce_fountainG{
  0%{
    -webkit-transform:scale(1);
    background-color:rgb(170,216,95);
  }

  100%{
    -webkit-transform:scale(.3);
    background-color:rgb(230,62,230);
  }
}

@-moz-keyframes bounce_fountainG{
  0%{
    -moz-transform:scale(1);
    background-color:rgb(170,216,95);
  }

  100%{
    -moz-transform:scale(.3);
    background-color:rgb(230,62,230);
  }
}


@media screen and (max-width: 550px){
  #fountainG{
    position:relative;
    width:162px;
    height:20px;
    margin:auto;
  }

  .fountainG{
    position:absolute;
    top:0;
    background-color:rgb(216,55,141);
    width:20px;
    height:20px;
    animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
    border-radius:13px;
    -o-border-radius:13px;
    -ms-border-radius:13px;
    -webkit-border-radius:13px;
    -moz-border-radius:13px;
  }

  #fountainG_1{
    left:0;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
  }

  #fountainG_2{
    left:20px;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
  }

  #fountainG_3{
    left:40px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
  }

  #fountainG_4{
    left:61px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
  }

  #fountainG_5{
    left:81px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
  }

  #fountainG_6{
    left:101px;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
  }

  #fountainG_7{
    left:121px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
  }

  #fountainG_8{
    left:142px;
    animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -ms-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
  }
}