.daily {
    display: flex;
    flex-direction: column;
}
.daily_empty {
    padding: 100px;
}
.daily__date {
    font-family: 'Intro Bold Alt', serif;
    font-size: 27px;
}
.daily__articles {
    margin-bottom: -10px;
}

.daily:first-child .article:first-child {
    border-color: #ff7eb5;
}


@media screen and (max-width: 767px) {
    .daily__articles {
        margin-top: -10px;
    }
    .daily_empty {
        padding: 100px 20px;
        margin: 0 auto;
    }
}