.page {
  min-height: 70vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    background: $secondaryBackground;
    border-radius: 7px;
    padding: 20px 20px 5px;
    flex-grow: 0.5;
    justify-content: center;
  }

  .message {
    text-align: center;
    margin-bottom: 10px;

    &.error {
      color: $error;
    }
  }

  @media all and (min-width: 768px) {
    .container {
      flex: 0.4;
    }
  }

  @media all and (min-width: 1440px) {
    .container {
      flex: 0.3;
    }
  }
}
