.modal-article-form {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__dashboard {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
  }

  &__checkbox {
    display: flex;
    padding: 5px;
  }

  &__buttons {
    display: flex;
  }

  @media all  and (min-width: 768px) {
    &__dashboard {
      flex-direction: row;
    }
  }

  @media screen and (orientation: landscape) and (max-height: 479px) {
    &__dashboard {
      flex-direction: row;
    }
  }
}
