.modal-article-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modal-article-form__dashboard {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.modal-article-form__checkbox {
  display: flex;
  padding: 5px;
}

.modal-article-form__buttons {
  display: flex;
}

@media all and (width >= 768px) {
  .modal-article-form__dashboard {
    flex-direction: row;
 }
}

@media screen and (orientation: landscape) and (height <= 479px) {
  .modal-article-form__dashboard {
    flex-direction: row;
 }
}
