.ui-button {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: $smallDevicesButtons;

  .button {
    display: flex;
    border: 3px solid $active;
    line-height: 30px;
    font-size: 15px;
    border-radius: 6px;
    white-space: nowrap;
    flex: 1;
    color: $contrastColor;
    transition: box-shadow 0.4s ease-in-out;

    &:active {
      box-shadow: 0 0 25px 10px $active;
      border-top: 4px solid $active;
      border-left: 4px solid $active;
      border-bottom: 2px solid $active;
      border-right: 2px solid $active;
    }

    &:hover {
      box-shadow: 0 0 25px 10px $active;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 15px 5px $active;
    }

    .label {
      margin: 0 auto;
      font-weight: 700;
    }
  }

  &.submit {
    .button {
      background-color: $active;
    }
  }

  &.transparent {
    .button {
      background-color: transparent;
    }
  }

  &.reset {
    .button {
      background-color: transparent;
      color: $resetColor;
    }
  }

  &.cancel {
    .button {
      background-color: $error;
      color: $contrastColor;
    }
  }

  &.small {
    width: $modalButtons;
  }
}

@media all and (min-width: 768px) {
  .ui-button {
    width: $baseButtons;

    &.small {
      width: $modalButtons;
    }
  }
}
