.form {
    /* .form__input */
    /* .input__location */ }
.form__input {
    padding: 10px 10px; }
.form__input_title {
    flex: 100%; }
.form__input_location {
    flex: 65%; }
.form__input_time {
    flex: 35%; }
.form__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between; }
.form__checkbox_label {
    margin-left: 10px;
    color: #5b5b5b; }