.input {
    display: flex;
    flex-direction: column; }
.input__field {
    border: none;
    border-bottom: 1px solid #a3a3a3;
    padding: 5px 0;
    margin: 0 0 10px; }
.input__field:focus {
    border-bottom: 2px solid #a9d85f;
    outline: none; }
.input__wrapper_location {
    display: flex;
    justify-content: space-between;
    position: relative; }
.input__location {
    padding: 9px 0; }
.input__content {
    margin-top: 35px;
    padding: 15px;
    border: 1px solid #a3a3a3; }
.input__content_active {
    border: 2px solid #a9d85f; }