.login-page {
  min-height: 70vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    background: $secondaryBackground;
    border-radius: 7px;
    padding: 20px 20px 5px;
    flex-grow: 0.5;
    justify-content: center;
  }

  &__message {
    text-align: center;
    margin-bottom: 10px;

    &_error {
      color: $error;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
  }

  @media all and (min-width: 768px) {
    &__container {
      flex: 0.4;
    }
  }

  @media all and (min-width: 1440px) {
    &__container {
      flex: 0.3;
    }
  }
}
