.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $subSecondaryBackground;
  z-index: 1000;

  & > div:nth-child(n+2) {
    display: none;
  }

  & > div > div:nth-child(even) {
    background-color: $active;
  }

  & > div > div:nth-child(odd) {
    background-color: $important;
  }

  @media screen and (min-width: 768px) {
    & > div:nth-child(-n+3) {
      display: block;
    }
  }

  @media screen and (min-width: 1024px) {
    & > div:nth-child(-n+4) {
      display: block;
    }
  }

  @media screen and (min-width: 1280px) {
    & > div:nth-child(-n+5) {
      display: block;
    }
  }

  @media screen and (min-width: 1480px) {
    & > div:nth-child(-n+6) {
      display: block;
    }
  }

  @media screen and (min-width: 1800px) {
    & > div:nth-child(-n+7) {
      display: block;
    }
  }
}
