.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  &__button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    transition: box-shadow 0.5s ease-in-out;

    &::after {
      content: "\D7";
      color: $baseColor;
      font-size: 25px;
      line-height: 0.5;
      font-weight: bold;
      margin: 0 auto;
    }

    &:focus {
      outline: none;
      -webkit-box-shadow: 0 0 5px 2px $active;
      -moz-box-shadow: 0 0 5px 2px $active;
      box-shadow: 0 0 5px 2px $active;
    }

    &:hover {
      transition: box-shadow 0.5s ease-in-out;
      -webkit-box-shadow: 0 0 10px 7px $active;
      -moz-box-shadow: 0 0 10px 7px $active;
      box-shadow: 0 0 10px 7px $active;
    }

    &:active {
      margin-top: 2px;
      margin-left: 2px;
      -webkit-box-shadow: 0 0 10px 5px $active;
      -moz-box-shadow: 0 0 10px 5px $active;
      box-shadow: 0 0 10px 5px $active;
    }
  }
}
