.form {
  display: flex;
  flex-direction: column;
  &__submit {
    display: flex;
    padding: 5px 25px;
    justify-content: space-between;
    align-items: center;
    &_checkbox {
      display: flex;
    }
  }
}
.checkbox {
  &__label {
    margin-left: 10px;
    color: #5b5b5b;
  }
}

@media screen and (max-width: 767px) {
  .form {
    &__submit {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 480px) {
  .form {
    &__submit {
      &_checkbox {
        font-size: 0.9em;
        margin-bottom: 5px;
      }
    }
  }
}