.form {
  display: flex;
  flex-direction: column;

  &__dashboard {
    display: flex;
    padding: 5px 25px;
    justify-content: space-between;
    align-items: center;
  }

  &__checkbox {
    display: flex;
  }

  &__buttons {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .form {
    &__submit {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 480px) {
  .form {
    &__dashboard {
      flex-direction: column;
      padding: 5px 15px;
    }

    &__checkbox {
      font-size: 0.9em;
      margin-bottom: 5px;
    }
  }
}
