.fetching-spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  background: $subSecondaryBackground;
  z-index: 1000;

  & > div:nth-child(1) {
    display: block;
  }

  & > div:nth-child(2) {
    display: block;
  }

  & > div:nth-child(3) {
    display: block;
  }

  & > div:nth-child(4) {
    display: block;
  }

  & > div:nth-child(5) {
    display: block;
  }

  & > div:nth-child(6) {
    display: block;
  }

  & > div:nth-child(7) {
    display: block;
  }

  & > div > div:nth-child(even) {
    background-color: $active;
  }

  & > div > div:nth-child(odd) {
    background-color: $important;
  }
}

@media screen and (max-width: 1800px) {
  .fetching-spinner {
    & > div:nth-child(7) {
      display: none;
    }
  }
}

@media screen and (max-width: 1480px) {
  .fetching-spinner {
    & > div:nth-child(6) {
      display: none;
    }
  }
}

@media screen and (max-width: 1280px) {
  .fetching-spinner {
    & > div:nth-child(5) {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .fetching-spinner {
    & > div:nth-child(4) {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .fetching-spinner {
    & > div:nth-child(3) {
      display: none;
    }
  }
}

@media screen and (max-width: 520px) {
  .fetching-spinner {
    & > div:nth-child(2) {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  .fetching-spinner {
    padding: 0;
  }
}
