.ui-input {
  display: flex;
  flex-direction: column;
  padding: 0 7px;
  margin-bottom: 10px;

  $parent: &;

  &__field {
    border: none;
    border-bottom: 1px solid $passive;
    padding: 0 0 5px;
    margin: 0 0 5px;
    display: flex;
    background: transparent;

    &:focus {
      box-shadow: none;
      padding: 0 0 4px;
      border-bottom: 2px solid $active;
      outline: none;
    }

    &_invalid {
      background-color: $invalid;
    }
  }

  &__label {
    color: $labels;
    font-size: 13px;
  }

  @media all and (min-width: 768px) {
    margin-bottom: 20px;
  }
}
