.inputs {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  &__wrapper {
    display: flex;
  }
  &__textarea {
      margin: 35px 10px 0;
      padding: 15px;
      border: 1px solid #a3a3a3;
      &:focus {
        outline: 3px solid #a9d85f;
      }
  }
}

@media screen and (max-width: 767px) {
  .inputs {
    padding: 7px;
  }
}

@media screen and (max-width: 480px) {
  .inputs {
    &__wrapper {
      flex-direction: column;
    }
    &__textarea {
      margin-top: 10px;
    }
  }
}