.inputs {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  &__small {
    display: flex;
    flex-direction: column;
  }
  &__wrapper {
    display: flex;
    flex: 1;
  }
  &__textarea {
    resize: none;
    margin: 35px 10px 0;
    padding: 15px;
    border: 1px solid #a3a3a3;
    &:focus {
      outline: 2px solid #a9d85f;
    }
  }
}


@media screen and (max-width: 767px) {
  .inputs {
    padding: 7px;
  }
}

@media screen and (max-width: 480px) {
  .inputs {
    &__wrapper {
      flex-direction: column;
    }
    &__textarea {
      margin-top: 10px;
    }
  }
}


@media screen and (orientation: landscape) and (max-height: 490px){
  .inputs {
    padding: 2px;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    &__wrapper {
      flex-direction: column;
      flex: 3;
    }
    &__textarea {
      margin-top: 10px;
    }
  }
}