.article-form-inputs {
  display: flex;
  flex-direction: column;
  padding: 7px;

  &__wrapper {
    flex: 0.1;
    display: flex;
    flex-direction: column;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__textarea {
    resize: none;
    flex: 0.8;
    padding: 15px;
    border: 1px solid $passive;

    &:focus {
      outline: 2px solid $active;
    }
  }

  &_invalid {
    background: $invalid;
  }

  @media all and (min-width: 768px) {
    &__wrap {
      flex-direction: row;
    }
  }

  @media screen and (orientation: landscape) and (max-height: 479px) {
    padding: 2px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    &__wrap {
      flex-direction: column;
      margin-bottom: 0;
    }
  }
}
