.button {
  display: flex;
  border: 3px solid $green;
  font-size: 1.15em;
  line-height: 2.2;
  font-weight: bold;
  border-radius: 6px;
  white-space: nowrap;
  cursor: pointer;
  flex: 100%;
  color: $contrastColor;
  transition: box-shadow 0.4s ease-in-out;

  &__wrapper {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex: 0 0;
    flex-basis: $baseButtons;

    &_small {
      flex-basis: $modalButtons;
      font-size: 1em;
    }
  }

  &__name {
    margin: 0 auto;
  }

  &:hover {
    -webkit-box-shadow: 0 0 25px 10px $green;
    -moz-box-shadow: 0 0 25px 10px $green;
    box-shadow: 0 0 25px 10px $green;
  }

  &:focus {
    outline: none;
    -webkit-box-shadow: 0 0 15px 5px $green;
    -moz-box-shadow: 0 0 15px 5px $green;
    box-shadow: 0 0 15px 5px $green;
  }

  &:active {
    -webkit-box-shadow: 0 0 25px 10px $green;
    -moz-box-shadow: 0 0 25px 10px $green;
    box-shadow: 0 0 25px 10px $green;
    border-top: 4px solid $green;
    border-left: 4px solid $green;
    border-bottom: 2px solid $green;
    border-right: 2px solid $green;
  }

  &_submit {
    background-color: $green;
  }

  &_refresh {
    background-color: transparent;
  }

  &_reset {
    background-color: transparent;
    color: $resetColor;
  }
}

@media screen and (max-width: 480px) {
  .button {
    &__wrapper {
      flex-basis: $smallDevicesButtons;

      &_small {
        flex-basis: $modalButtons;
      }
    }
  }
}
