.calendar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: $background;

  &_empty {
    padding: 10px;
    font-size: 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex: 0.8;
  }

  &__date {
    font-family: $secondaryFont;
    font-size: 22px;
    padding: 15px;
  }

  @media all and (min-width: 768px) {
    &_empty {
      font-size: 26px;
      line-height: 50px;
    }

    &__date {
      font-size: 30px;
    }
  }
}
