.calendar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: $background;
  $parent: &;

  &__container {
    display: flex;
    flex-direction: column;
    flex: 0.8;

    & #{$parent}_empty {
      padding: 20px;
    }

    & #{$parent}__date {
      font-family: $secondaryFont;
      font-size: 18px;
      padding: 15px;

      @media all and (min-width: 768px) {
        font-size: 30px;
      }
    }
  }
}
