.layout {
  display: flex;
  flex-direction: column;
  background: url('../../../../shared/assets/images/jpg/errorBackground.jpg') center;
  background-size: cover;
  position: fixed;
  inset: 0;

  .header {
    background: rgb(9, 223, 133);
    background: linear-gradient(90deg, rgba(9, 223, 133, 1) 0%, rgba(9, 121, 83, 1) 73%, rgba(113, 241, 148, 0.53) 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr="#09df85", endColorstr="#71f194", GradientType=1);
    display: flex;
    flex: 1 1 75px;
  }
}
