.header {
    display: flex;
    background: url(../../static/img/header/01.png) center no-repeat;
    background-size: cover;
    color: #ffffff;
    font-size: 1.1em;}
.header__container {
    margin: 50px auto 30px;
    padding: 0 15px;
    flex: 0 0 71.25%; }
.header__logo {
    padding: 0 5px; }
.header__subtitle {
    width: 670px;
    align-self: flex-end;
}
.header__buttons {
    padding: 0 20px;
    margin: 36px 0 0; }



@media screen and (max-width: 767px) {
    .header__container {
        margin: 25px 20px;
        flex: 1;
    }
    .header__subtitle {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .header__container {
        margin: 10px 15px;
    }
    .header__buttons {
        padding: 0;
        margin: 10px 10px 5px;
        justify-content: space-around;
    }

}