.header {
  display: flex;
  background: url(../../../assets/images/jpg/headerBackground.jpg) center no-repeat;
  background-size: cover;
  color: $contrastColor;
  font-size: 1.1em;

  &__container {
    margin: 50px auto 30px;
    padding: 0 15px;
    flex: 0 0 71.25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    font-family: $secondaryFont;
    padding: 0 5px 5px;
    border-bottom: 4px $active solid;
    border-radius: 50%;
    align-self: flex-start;
    width: 100px;
    white-space: nowrap;

    &-text {
      margin-left: -33px;
      font-weight: bold;
      font-size: 22px;
    }
  }

  &__title-button {
    width: 670px;
    align-self: flex-end;
    background: transparent;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    color: $contrastColor;
    text-align: left;

    &:hover {
      -webkit-box-shadow: 0 0 25px 10px $active;
      -moz-box-shadow: 0 0 25px 10px $active;
      box-shadow: 0 0 25px 10px $active;
    }

    &:focus {
      outline: none;
      -webkit-box-shadow: 0 0 15px 5px $active;
      -moz-box-shadow: 0 0 15px 5px $active;
      box-shadow: 0 0 15px 5px $active;
    }

    &:active {
      -webkit-box-shadow: 0 0 25px 10px $active;
      -moz-box-shadow: 0 0 25px 10px $active;
      box-shadow: 0 0 25px 10px $active;
      position: relative;
      left: 0.2%;
      top: 0.2%;
    }

    &-text {
      margin: 0;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: 0;
    }
  }

  &__buttons {
    padding: 0 20px;
    margin: 36px 0 0;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__container {
      margin: 10px auto;
    }

    &__title-button {
      width: 300px;

      &-text {
        font-size: 20px;
      }
    }

    &__buttons {
      padding: 0;
      margin: 10px 10px 5px;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    &__buttons {
      padding: 0;
      margin: 10px 10px 5px;
      justify-content: space-around;
    }

    &__title-button {
      width: 250px;
    }
  }
}

@media screen and (max-width: 379px) {
  .header {
    &__logo {
      align-self: center;
    }
  }
}
