.header {
  display: flex;
  background: url("../../../shared/assets/images/jpg/headerBackground.jpg") center no-repeat;
  background-size: cover;
  color: var(--contrast-color);
  padding: 10px 15px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0.7;
  margin: 0 auto;
}

.header__dashboard {
  display: flex;
  flex-direction: column;
}

.header__logo {
  position: relative;
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 2;
  white-space: nowrap;
  align-content: center;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 5px;
}

.header__logo:hover {
  box-shadow: 0 0 25px 10px var(--active);
}

.header__logo:focus {
  outline: none;
  box-shadow: 0 0 15px 5px var(--active);
}

.header__logo:active {
  box-shadow: 0 0 25px 10px var(--active);
  position: relative;
  left: 0.2%;
  top: 0.2%;
}

.header__logo_loggedIn {
  color: var(--important);
}

.header__logo-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  border-bottom: 4px var(--active) solid;
  border-radius: 50%;
  width: 100px;
}

.header__logo-text {
  color: var(--contrast-color);
}

.header__title-button {
  background: transparent;
  border: none;
  border-radius: 7px;
  padding: 0;
  max-width: 670px;
  color: var(--contrast-color);
  font-size: 16px;
  text-align: left;
  overflow-wrap: break-word;
}

.header__title-button:hover {
  box-shadow: 0 0 25px 10px var(--active);
}

.header__title-button:focus {
  outline: none;
  box-shadow: 0 0 15px 5px var(--active);
}

.header__title-button:active {
  box-shadow: 0 0 25px 10px var(--active);
  position: relative;
  left: 0.2%;
  top: 0.2%;
}

.header__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

@media all and (width >= 768px) {
  .header__container {
    align-items: flex-start;
 }

  .header__dashboard {
    display: flex;
    flex-direction: row;
 }
 
 .header__logo {
    margin-bottom: 0;
 }
 
 .header__title-button {
    align-self: flex-end;
    font-size: 22px;
 }
}
