@import url(assets/scss/base.scss);
@import url(assets/fonts/GothamPro/GothamProFont.css);
@import url('assets/fonts/IntroBold/IntroBold.css');
@import url(components/css/Header.css);
@import url(components/css/LogoIcon.css);
@import url(components/css/Subtitle.css);
@import url(components/css/Button.css);
@import url(components/css/Main.css);
@import url(components/css/Daily.css);
@import url(components/css/Articles.css);
@import url(components/css/Footer.css);
@import url(components/css/Modal.css);
@import url(components/css/Form.css);
@import url(components/css/InputWrapper.css);
@import url(components/css/Input.css);
@import url(components/css/TextArea.css);
@import url(components/css/Label.css);
@import url(components/css/Checkbox.css);

body {
    font-family: 'Gotham Pro', serif;
    font-size: 14px;
    line-height: 1.15;
    background-color: #f6f6f6;
    position: relative;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 0.93rem;
    }
}