.footer {
  background: rgb(9, 223, 133);
  background: -moz-linear-gradient(90deg, rgba(9, 223, 133, 1) 0%, rgba(9, 121, 83, 1) 73%, rgba(113, 241, 148, 0.5340511204481793) 100%);
  background: -webkit-linear-gradient(90deg, rgba(9, 223, 133, 1) 0%, rgba(9, 121, 83, 1) 73%, rgba(113, 241, 148, 0.5340511204481793) 100%);
  background: linear-gradient(90deg, rgba(9, 223, 133, 1) 0%, rgba(9, 121, 83, 1) 73%, rgba(113, 241, 148, 0.5340511204481793) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#09df85", endColorstr="#71f194", GradientType=1);
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
